@charset "UTF-8";

body{
    background-color: lightskyblue;
}


.container {
    display: flex;
    gap: .8rem;
    flex-flow:row wrap;
    
    
}

.content{
    border: 2px solid black;
    background-color: wheat;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}