<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header'); %>
    <main>                                                        
        <div class="jumbotron">
            <h1>Sobre mim: </h1>
            <p>Me chamo Gustavo, tenho 23 anos você me seguir no instagram: @gustavo.mth</p>

        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>